@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
    @apply bg-gray-100;
    background: radial-gradient(ellipse at bottom, #fdfdfd 0%, #afd8f9 100%);
    overflow-x: hidden;
    min-height: 100vh; 
    /* If you want to change the site height you can remove overflow-y */
    /* pure-snow will automatically detect height of body tag */
    overflow-y: hidden;
    /* color: white;     */
}

.container {
    @apply max-w-md;
}

a {
    @apply transition-colors duration-200;
}

/* Button hover effects */
a:hover {
    @apply bg-gray-50;
}

/* Typography */
h1, h2 {
    @apply font-mono;
}

/* Custom button styles */
.btn {
    @apply py-2 px-4 border-2 border-black rounded bg-white hover:bg-gray-50 transition-colors duration-200;
}

.btn-primary {
    @apply py-2 px-4 border-2 border-black rounded bg-white transition-all duration-200 transform;
}

.btn-primary:hover {
    @apply bg-green-50 scale-105 -rotate-1;
}

/* Special treatment for the main CTA button */
.main-cta.btn-primary:hover {
    @apply scale-105 rotate-1;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.shake-on-hover:hover {
  animation: shake 0.5s ease-in-out;
}


/* Snow */
.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px grey);
}

/* Maria Fly */

@keyframes flyAcross {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

.maria-fly {
  position: fixed;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 674px;
  height: 500px;
  object-fit: cover;
  display: none;
  z-index: 50;
}

.maria-fly.animate {
  display: block;
  animation: flyAcross 4s ease-in-out forwards;
}
