---
layout: frame.njk
image: https://news.kiwistand.com/media/frame.png
button1_text: "Click me!"
button2_text: "Or me!"
post_url: https://news.kiwistand.com/foo/action
---
<!-- The body content here won't be visible in the frame but might be useful for SEO -->
<div class="container mx-auto px-4 py-8">
    <h1>Kiwimas Frame</h1>
    <p>This is a Farcaster Frame page.</p>
</div> 