---
layout: base.njk
---
<div x-data="" class="container mx-auto px-4 py-8">
    <header class="text-center mb-12">
        <div class="mb-4 py-10">
            <!-- Kiwi Logo with Santa Hat -->
            <img src="{{ '/media/Kiwimas_Icon.webp' | url }}" alt="Kiwimas Logo" class="w-48 h-48 mx-auto shake-on-hover">
        </div>
        <h1 class="text-6xl font-bold mb-4">$KIWIMAS</h1>
    </header>

    <!-- Main CTA Button -->
    <div class="mb-8">
        <a href="https://wow.xyz/0x51D8A41c948Fb6c3F239f8a4D6086141c02087d6" target="_blank" rel="noopener noreferrer" class="btn-primary flex items-center justify-center space-x-2 text-2xl py-6 px-8">
            <span>Buy on WOW</span>
            <img src="{{ '/media/wow-logo.png' | url }}" alt="WOW Logo" class="h-6">
        </a>
    </div>

    <!-- Action Buttons -->
    <div class="grid grid-cols-3 gap-4 mb-12">
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-primary flex items-center justify-center">Telegram Group</a>
        <a href="https://basescan.org/address/0x51D8A41c948Fb6c3F239f8a4D6086141c02087d6" target="_blank" rel="noopener noreferrer" class="btn-primary flex items-center justify-center">Basescan</a>
        <a href="https://warpcast.com/~/channel/kiwimas" target="_blank" rel="noopener noreferrer" class="btn-primary flex items-center justify-center">f/Kiwimas</a>
    </div>

    <!-- Facts Section -->
    <div class="space-y-6">
        <h2 class="font-bold text-xl mb-4">Facts about $KIWIMAS:</h2>
        <ul class="space-y-4">
            <li>
                <span class="font-bold">- Community-driven:</span> permissionlessly created by tudorizer.eth
            </li>
            <li>
                <span class="font-bold">- Rug-free:</span> 33% of the supply has been bought by Tim & Mac and is locked in the <a href="https://warpcast.com/timdaub.eth/0xd5b59ee1" target="_blank" rel="noopener noreferrer" class="underline">contract until the 27th of December.</a>
            </li>
            <li>
                <span class="font-bold">- Shared with the community:</span> $KIWIMAS has been airdropped to Kiwi Pass holders, Top100 Kiwi karma users, and Kiwi top contributors.
            </li>
        </ul>

        <p class="mt-8">
            Once we reach 120k marketcap, $KIWIMAS will graduate from WOW and become a pair on Uniswap.
        </p>
    </div>
</div>